*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Lato;
}

body{
    display: flex;
    flex-wrap: wrap;
    min-height: 100vh;
    background: #f0f0f0;
}

main{
    padding: 2em;
}

h1{
    padding: 1em;
}

p{
    font-size: 2em;
}
footer{
    align-self: flex-end;
    background: #000011;
    width: 100%;
    padding: 1em;
    color: #fff;
    text-align: center;
    
}